body{
    text-align: center;
    background-image: linear-gradient(to right, rgba(233, 30, 99, .8), rgba(33, 150, 243, .8)) ;
    color: white;
}

.welcome-image, .quiz-image{
    height: 250px;
    width: 700px;
    border: solid white 2px;
    margin: 0 auto;
    border-radius: 5px;
}

.quiz-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
}

.quiz-category{
    width: 250px;
    height: 300px;
    border: solid white 2px;
    border-radius: 5px;
}

.btn-rules{
    font-size: 18px;
    background: rgba(233, 30, 99, 1);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

.btn-quiz-start{
    font-size: 18px;
    background: rgba(33, 150, 243, 1);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

.answers-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.answer-btn{
    font-size: 18px;
    background: rgba(33, 150, 243, 1);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    margin: 5px;
}


